.menu-wrapper {
  border-top: 1px solid rgb(244 228 207);
  border-bottom: 1px solid rgb(244 228 207);
  padding-top: 12px;
  padding-bottom: 12px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  font-size: 14px;
  margin-bottom: 8px;
}

@media (min-width: 960px) {
  li {
    font-size: 16px;
    margin-bottom: 0;
  }
}
