<div class="container">
  <div class="content-wrapper">
    <div class="left-content">
      <div class="wrapper-content-left">
        <div class="title-wrapper-left">
          <p>Videos</p>
          <p>Browse All Videos</p>
        </div>
        <div>
          <div class="card-large">
            <div>
              <p>How to Improve</p>
              <p>Your Skill</p>
            </div>
          </div>
          <div class="card-small-wrapper">
            <div class="card-small">
  
            </div>
            <div class="card-small">
  
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper-content-right">
        <div class="card-small-left"></div>
        <div class="card-small-left"></div>
        <div class="card-small-left"></div>
      </div>
    </div>
    <div class="right-content">
      <div class="title-wrapper-right">
        <p>Activity</p>
        <p>View Timeline / Filter activities</p>
      </div>
      <div>
        <div class="article-wrapper">
          <div class="thumb"></div>
          <div>
            <p>John lennon</p>
            <p>John lennon</p>
            <p>John lennon</p>
          </div>
        </div>
        <div class="article-wrapper">
          <div class="thumb"></div>
          <div>
            <p>John lennon</p>
            <p>John lennon</p>
            <p>John lennon</p>
          </div>
        </div>
        <div class="article-wrapper">
          <div class="thumb"></div>
          <div>
            <p>John lennon</p>
            <p>John lennon</p>
            <p>John lennon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>