.container {
  margin-top: 60px;
}

.left-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.right-content {
  width: 28%;
}

.title-wrapper-left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title-wrapper-left > p:first-child {
  font-weight: 600;
  font-size: 20px;
}

.card-large {
  width: auto;
  height: 400px;
  background-color: rgb(244 228 207);
  padding: 10px;
  position: relative;
  margin-bottom: 18px;
}

.card-large > div {
  position: absolute;
  bottom: 10px;
}

.card-large p {
  color: rgb(149 62 68);
}

.wrapper-content-left {
  width: 64%;
}

.wrapper-content-right {
  width: 34%;
  margin-top: 42px;
}

.card-small-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-small {
  width: 48%;
  height: 200px;
  background-color: rgb(244 228 207);
}

.card-small-left {
  width: 100%;
  height: 200px;
  background-color: rgb(244 228 207);
  margin-bottom: 20px;
}

.title-wrapper-right {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid rgb(244 228 207);
  padding-bottom: 22px;
  margin-bottom: 15px;
}

.article-wrapper {
  display: flex;
  padding: 5px;
  margin-bottom: 8px;
}

.thumb {
  width: 80px;
  height: 55px;
  background-color: rgb(244 228 207);
  margin-right: 20px;
}

.article-wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}