.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  background-color: rgb(244 228 207);
  border: none;
  outline: none;
  width: 400px;
  padding: 8px;
  margin-right: 15px;
}

.cta-wrapper {
  display: flex;
}

.cta-wrapper > button:nth-child(2) {
  margin-right: 15px;
}

.cta-wrapper > button:nth-child(3) {
  margin-right: 15px;
}

.cta-wrapper > div:nth-child(4) > span {
  font-weight: 600;
  font-size: 18px;
}

input::placeholder {
  color: rgb(149 62 68);
}

button {
  background-color: rgb(244 228 207);
  padding: 8px;
  color: rgb(149 62 68);
}