/* Add application styles & imports to this file! */
body, p, h1, h2, h3, h4, h5 {
  margin: 0;
}

div, p {
  color: rgb(237 184 177);
}

button {
  background: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}