.container {
  background-color: rgb(149 62 68);
  padding: 10px;
}

@media (min-width: 960px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}